@mixin text-emphasis-placeholder() {
  color: color('ink', 'lightest');
}

@mixin text-emphasis-subdued($for-background: null) {
  color: color('ink', 'lighter', $for-background: $for-background);
}

@mixin text-emphasis-strong {
  font-weight: 600;
}

@mixin text-emphasis-normal($for-background: null) {
  font-weight: 400;
  color: color(ink, $for-background: $for-background);
}

@mixin text-breakword {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

@mixin truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
