@import "../foundation/borders";
@import "../foundation/spacing";
@import "../shared/breakpoints";

@mixin page-padding-not-fully-condensed {
  padding: 0 spacing(loose);
}

@mixin page-padding-not-partially-condensed {
  padding: 0 spacing(extra-loose);
}

@mixin page-layout {
  margin: 0 auto;
  padding: 0;
  max-width: $page-max-width;

  @include page-content-when-not-fully-condensed {
    @include page-padding-not-fully-condensed;
  }

  @include page-content-when-not-partially-condensed {
    @include page-padding-not-partially-condensed;
  }
}

@mixin page-header-layout {
  padding: spacing(loose) spacing(loose) 0;
  border-bottom: border("dark");

  @include page-content-when-not-fully-condensed {
    padding-left: 0;
    padding-right: 0;
  }

  @include page-content-when-not-partially-condensed {
    padding-top: spacing(extra-loose);
  }
}

@mixin page-content-layout {
  margin: spacing(loose) 0;

  @include page-content-when-not-partially-condensed {
    margin-top: spacing(loose);
  }
}
